@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&family=Righteous&display=swap");
:root {
  --font-logo: "Righteous", cursive;
  --font-primary: "Blinker", sans-serif;
}

:root {
  --color-primary: #00d1d8;
}

@keyframes mymove {
  50% {
    transform: rotateY(190deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  top: 0;
  position: sticky;
  background-color: #0b0230;
  transition: background-color 0.5s ease;
  z-index: 1;
}
header .logo {
  display: flex;
}
header .logo img {
  width: 3rem;
  border-radius: 10%;
  border: 1px solid #fff;
}
header .logo p {
  align-self: center;
  font-family: var(--font-logo);
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: #fff;
}
header .logo span {
  display: inline-block;
  color: var(--color-primary);
  animation: mymove 5s infinite;
}
header .hamburger-menu {
  display: none;
}
header .hamburger-menu .menu__icons {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  text-align: center;
}
header .hamburger-menu .menu__icons i {
  color: #000;
  font-size: 2rem;
  width: 2.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
header .hamburger-menu .menu__icons i:hover {
  color: var(--color-primary) !important;
  cursor: pointer;
}
header .hamburger-menu .menu__icons i:hover .email {
  display: inline-block;
  color: #000;
}
header .hamburger-menu .menu__icons i .email {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin: 3rem 0 0 -3.3rem;
  display: none;
}
header .hamburger-menu .menu__icons i .copyText {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin: -1.5rem 0 0 -1rem;
  display: none;
  color: #000;
}
header .breadcrumb {
  align-self: center;
}
header .breadcrumb .fa-bars {
  color: #fff;
  font-size: 2rem;
  display: none;
}
header .breadcrumb__list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
header .breadcrumb__link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
header .breadcrumb__link:hover {
  color: var(--color-primary) !important;
}
header .icons {
  align-self: center;
}
header .icons i {
  color: #fff;
  font-size: 2rem;
  width: 2.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
header .icons i:hover {
  color: var(--color-primary) !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .hamburger-menu {
    display: inline-block;
  }
  header .breadcrumb {
    display: none;
  }
  header .icons {
    display: none;
  }
}

main {
  background-color: #0b0230;
  height: 200vh;
}
main .banner {
  display: flex;
  padding: 4rem 8rem;
}
main .banner__text {
  width: 45%;
  align-self: center;
  margin-top: -3.5rem;
}
main .banner__text h3 {
  font-family: var(--font-primary);
  color: #fff;
  font-size: 2.5rem;
}
main .banner__text h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 4.4rem;
  line-height: 3.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
main .banner__text button {
  font-family: var(--font-primary);
  font-weight: 600;
}
main .banner__img {
  width: 55%;
  text-align: right;
}
main .banner__img img {
  width: 34em;
  border-radius: 5px;
}
@media (max-width: 768px) {
  main .banner {
    padding: 4rem 2rem;
    flex-flow: column;
  }
  main .banner__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
  }
  main .banner__img {
    width: 100%;
    text-align: center;
  }
  main .banner__img img {
    width: 35rem;
  }
}
@media (max-width: 480px) {
  main .banner {
    margin-top: 0;
    padding: 3rem 0;
  }
  main .banner__img img {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
  main {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1025px) {
  html {
    background-color: #0b0230;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  header {
    max-width: 1440px;
    margin: 0 auto;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */