@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&family=Righteous&display=swap");
:root {
  --font-logo: "Righteous", cursive;
  --font-primary: "Blinker", sans-serif;
}

:root {
  --color-primary: #00d1d8;
}

@keyframes mymove {
  50% {
    transform: rotateY(190deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  top: 0;
  position: sticky;
  background-color: #0b0230;
  transition: background-color 0.5s ease;
  z-index: 10;
}
header .logo {
  display: flex;
}
header .logo img {
  width: 3rem;
  border-radius: 10%;
  border: 1px solid #fff;
}
header .logo p {
  align-self: center;
  font-family: var(--font-logo);
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: #fff;
}
header .logo span {
  display: inline-block;
  color: var(--color-primary);
  animation: mymove 5s infinite;
}
header .hamburger-menu {
  display: none;
}
header .hamburger-menu .menu__icons {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  text-align: center;
}
header .hamburger-menu .menu__icons i {
  color: #000;
  font-size: 2rem;
  width: 2.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
header .hamburger-menu .menu__icons i:hover {
  color: var(--color-primary) !important;
  cursor: pointer;
}
header .hamburger-menu .menu__icons i:hover .email {
  display: inline-block;
  color: #000;
}
header .hamburger-menu .menu__icons i .email {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin: 3rem 0 0 -3.3rem;
  display: none;
}
header .hamburger-menu .menu__icons i .copyText {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin: -1.5rem 0 0 -1rem;
  display: none;
  color: #000;
}
header .breadcrumb {
  align-self: center;
}
header .breadcrumb .fa-bars {
  color: #fff;
  font-size: 2rem;
  display: none;
}
header .breadcrumb__list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}
header .breadcrumb__link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  transition: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
header .breadcrumb__link:hover {
  color: var(--color-primary) !important;
}
header .icons {
  align-self: center;
}
header .icons i {
  color: #fff;
  font-size: 2rem;
  width: 2.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
  margin-top: -1rem;
}
header .icons i:hover {
  color: var(--color-primary) !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .hamburger-menu {
    display: inline-block;
  }
  header .breadcrumb {
    display: none;
  }
  header .icons {
    display: none;
  }
}

main {
  background-color: #0b0230;
  padding: 4rem 8rem;
}
main .banner {
  display: flex;
  padding-top: 2rem;
}
main .banner__text {
  width: 45%;
  align-self: center;
  margin-top: -3.5rem;
}
main .banner__text h3 {
  font-family: var(--font-primary);
  color: #fff;
  font-size: 2.5rem;
}
main .banner__text h2 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 4.4rem;
  line-height: 3.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
main .banner__text button {
  font-family: var(--font-primary);
  font-weight: 600;
}
main .banner__img {
  width: 55%;
  text-align: right;
}
main .banner__img img {
  width: 34em;
  border-radius: 10px;
  border: 5px solid var(--color-primary);
}
@media (max-width: 1024px) {
  main .banner {
    padding: 4rem 1rem;
  }
  main .banner__text {
    margin-top: 1rem;
  }
  main .banner__img img {
    width: 28rem;
  }
}
@media (max-width: 768px) {
  main .banner {
    padding: 4rem 2rem;
    flex-flow: column;
  }
  main .banner__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 4rem;
  }
  main .banner__img {
    width: 100%;
    text-align: center;
  }
  main .banner__img img {
    width: 35rem;
  }
}
@media (max-width: 480px) {
  main .banner {
    margin-top: 0;
    padding: 3rem 0;
  }
  main .banner__img img {
    width: 20rem;
  }
}
main .skills {
  margin-top: 8rem;
  text-align: center;
}
main .skills h1 {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  margin-bottom: 3rem;
}
main .skills__item {
  width: 16%;
}
main .skills__item:hover .skill__label {
  opacity: 1;
  transform: translateY(-3rem);
}
main .skills__item:hover .icc {
  filter: blur(5px);
}
main .skills__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
main .skills__container .skill__label {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
main .skills__container i {
  font-size: 5rem;
  color: var(--color-primary);
  transition: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 768px) {
  main .skills__item {
    width: 33%;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 480px) {
  main .skills__item {
    width: 50%;
  }
}
main .projects {
  margin-top: 5rem;
}
main .projects h1 {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
main .projects .project {
  display: flex;
  margin-bottom: 4rem;
}
main .projects .project__text {
  width: 45%;
  padding-top: 2rem;
}
main .projects .project__text h2 {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
}
main .projects .project__text > p {
  color: #eeeeee;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
}
main .projects .project__text .tech-used {
  display: flex;
  margin-top: 1rem;
}
main .projects .project__text .tech-used p {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  background-color: #200c74;
  font-weight: 400;
  margin-right: 1rem;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
}
main .projects .project__text div {
  margin-top: 2rem;
}
main .projects .project__text div a {
  font-family: var(--font-primary);
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
main .projects .project__text div a:hover {
  background-color: #fff;
  color: #000;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
main .projects .project__img {
  width: 50%;
  padding-left: 2rem;
  margin-top: 1rem;
  z-index: 0;
}
main .projects .project__img .item {
  border: 5px solid var(--color-primary);
  border-radius: 10px;
}
main .projects .project__img .item img {
  border-radius: 5px;
}
main .projects .project__img .owl-nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: -1rem auto 0;
}
main .projects .project__img .owl-nav .owl-next:hover {
  background-color: transparent;
}
main .projects .project__img .owl-nav .owl-next span {
  font-size: 3rem;
  color: var(--color-primary);
  font-weight: 900;
}
main .projects .project__img .owl-nav .owl-next span:hover {
  color: #fff;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
main .projects .project__img .owl-nav .owl-prev:hover {
  background-color: transparent;
}
main .projects .project__img .owl-nav .owl-prev span {
  font-size: 3rem;
  color: var(--color-primary);
  font-weight: 900;
}
main .projects .project__img .owl-nav .owl-prev span:hover {
  color: #fff;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
main .projects .project__img .owl-dots {
  margin-top: -2.2rem;
}
main .projects .project__img .owl-dots .owl-dot.active span {
  transform: scale(1.3);
  background-color: var(--color-primary);
}
@media (max-width: 768px) {
  main .projects .project {
    display: block;
  }
  main .projects .project .project__text {
    width: 100%;
    margin-bottom: 2rem;
  }
  main .projects .project .project__img {
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  main .projects .project {
    display: block;
  }
  main .projects .project .project__text {
    width: 100%;
    margin-bottom: 2rem;
  }
  main .projects .project .project__img {
    width: 100%;
  }
  main .projects .project .owl-nav {
    width: 60%;
  }
}

footer {
  padding: 2rem 8rem;
  background-color: #0b0230;
}
footer .menu__icons-2 {
  width: 100%;
  text-align: center;
}
footer .menu__icons-2 i {
  color: #fff;
  font-size: 2rem;
  width: 2.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
}
footer .menu__icons-2 i:hover {
  color: var(--color-primary) !important;
  cursor: pointer;
}
footer .menu__icons-2 i:hover .email {
  display: inline-block;
}
footer .menu__icons-2 i .email {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin-left: -15rem;
  color: #fff;
  display: none;
}
footer .menu__icons-2 i .copyText-2 {
  font-size: 1rem;
  font-family: var(--font-primary);
  position: absolute;
  margin: -1.5rem 0 0 -1rem;
  color: #fff;
  display: none;
}

@media (max-width: 1024px) {
  header {
    padding: 2rem 4rem;
  }
  main {
    padding: 2rem 4rem;
  }
  footer {
    padding: 2rem 4rem;
  }
}
@media (max-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
  main {
    padding: 1rem 2rem;
  }
  footer {
    padding: 1rem 2rem;
  }
}
@media (min-width: 1025px) {
  html {
    background-color: #0b0230;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  header {
    max-width: 1440px;
    margin: 0 auto;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */